:root {
    --font: Arial, Helvetica, sans-serif;
    --logo-size: 150px;
}

.wrapper {
    font-family: var(--font);
    height: 100vh;
    display: flex;
}

.central {
    border: 1px solid #000000;
    border-radius: calc(var(--logo-size) / 2);
    height: var(--logo-size);
    width: var(--logo-size);
    text-align: center;
    margin: auto;
    position: relative;
    text-transform: uppercase;
}

.iris-logo {
    margin: 0;
    line-height: 150px;
    letter-spacing: 3px;
    font-size: 50px;
}

.attribute-group {
    display: flex;
    position: absolute;
    width: 550px;
    left: -200px;
}

.attribute-group.above {
    justify-content: space-between;
    top: -105px;
}

.attribute-group.below {
    bottom: -220px;
    margin: auto;
    justify-content: center;
}

.attribute {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    background-color: rgb(12, 54, 78);
    color: #ffffff;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 100px;
    letter-spacing: 2px;
}

.trait-group {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    left: -75px;
    top: -200px;
}

.trait-group.left {
    transform: rotate(-120deg);
    left: -275px;
    top: 150px;
}

.trait-group.left .trait {
    transform: rotate(120deg);
}

.trait-group.right {
    transform: rotate(120deg);
    left: auto;
    right: -275px;
    top: 150px;
}

.trait-group.right .trait {
    transform: rotate(-120deg);
}

.trait {
    position: relative;
    top: -28px;
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    background-color: rgb(100, 100, 100);
    line-height: 70px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 35px;
}

.guide-line {
    height: 2px;
    width: 100px;
    background-color: #000000;
    position: relative;
    top: 30px;
}

.guide-line.right {
    transform: rotate(30deg);
}

.guide-line.left {
    transform: rotate(-30deg);
}

@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}